/* Containers */

.container {
    width: $container-width;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}

/* Flex Helpers */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-grow {
    flex-grow: 1;
}

.flex-dont-grow {
    flex-grow: 0;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-dont-shrink {
    flex-shrink: 0;
}

/* Height */

.full-height {
    height: 100%;
}
