@import 'vendor';
// @import 'functions';
@import 'helpers';
// @import 'typography';
@import 'vars';
@import 'layout';
@import 'base';
// @import 'forms';
// @import 'spinner';

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
